<module version="2.0">
	<meta>
		<identity>
			<uri>urn:org:netkernel:single:java:module:03</uri>
			<version>1.1.1</version>
		</identity>
		<info>
			<name>Single Java Module 03</name>
			<description>Module with Src and Build Separate and lib/ dependency</description>
		</info>
	</meta>
	<system>
		<dynamic/>
	</system>
	<rootspace>
	    <fileset>
           <regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
        </fileset>
		<accessor>
			<grammar>res:/brave/new/world/03</grammar>
			<class>resources.Accessor</class>
		</accessor>

	</rootspace>
</module>