<module version="2.0">
	<meta>
		<identity>
			<uri>urn:org:netkernel:single:module:06</uri>
			<version>1.1.1</version>
		</identity>
		<info>
			<name>Single Module</name>
			<description>Module with Src and Build Separate</description>
		</info>
	</meta>
	<system>
		<dynamic/>
	</system>
	<rootspace>
	    <fileset>
           <regex>res:/etc/system/SimpleDynamicImportHook.xml</regex>
        </fileset>
		<accessor>
			<grammar>res:/brave/new/world</grammar>
			<class>org.netkernel.single.SingleAccessor</class>
		</accessor>
		
		<mapper>
			<config>
				<endpoint>
				<grammar>res:/brave/new/staticResource</grammar>
				<request>
					<identifier>res:/resources/hello.txt</identifier>
				</request>
				</endpoint>
			</config>
			<space>
				<fileset>
					<regex>res:/resources/.*</regex>
				</fileset>
				<import>
                  <uri>urn:org:netkernel:lang:groovy</uri>
                </import>
			</space>
		</mapper>

	</rootspace>
</module>